.footer{
        position: static;
        width: 100%;
        text-align: center;
      }
body, html {
  		height: 100%;
  		margin:0;
    	scroll-behavior: smooth;  
    	background-color: black;
  	}
.navbar {
		background-color: black;
}

